html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.10909;
    resize: none;
    letter-spacing: .5px;
    height: 100%;
    color: #666;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h3, h5 {
    font-family: 'Vidaloka', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.10909;
}
h3 { font-size: 40px; }
h5 { font-size: 20px; }
p { font-size: 14px; line-height: 1.5rem; }
nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 60px;
    background: white;
    -webkit-box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
    box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
}
.nav-logo {
    font-family: 'Vidaloka', serif;
    font-size: 25px;
    text-decoration: none;
    color: #666;
}

/* layout */
.m-container, .m-row, .m-col,
.m-card-sm, .m-card-md, .m-card-lg {
    position: relative;
    display: block;
}
.m-container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    line-height: 60px;
}
.m-row {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.m-col { float: left; padding-left: 5%; padding-right: 5%;}
.m-grid-12 { width: 100%; }
.m-grid-8  { width: 80%; }
.m-grid-6  { width: 50%; }
.m-grid-4 { width: 33%; }
.m-grid-3 { width: 25%; }
.m-grid, .m-grid-2 { width: 20%; }
.m-push-8  { margin-left: 20%; }
.m-push-6  { margin-left: 50%; }
.m-push-4 { margin-left: 33%; }
.m-push-3 { margin-left: 25%; }
.m-push-2 { margin-left: 20%; }

.m-container::after,
.m-row::after {
    display: table;
    content: '';
    clear: both;
}
/* helpers */
.m-left { float: left; }
.m-right { float: right; }
.m-center { display: block; margin: auto; }
.m-text-center { text-align: center; }
.m-text-left { text-align: left; }
.m-text-right { text-align: right; }
.m-margin { margin: 20px; }
.m-margin-top { margin-top: 20px; }
.m-margin-bottom { margin-bottom: 20px; }
.m-padding { padding: 20px; }
.m-padding-top { padding-top: 20px; }
.m-padding-bottom { padding-bottom: 20px; }

.m-un-margin { margin: 0; }
.m-un-pad { padding: 0; }


/* components */
.divider {
    margin: 20px 0;
    height: 1px;
    background: #ddd;
    width: 100%;
}
.m-card-sm,
.m-card-md,
.m-card-lg {
    padding: 25px 20px;
    -webkit-box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
}
.m-card-md { margin: auto; max-width: 600px; }
.m-card-sm { margin: auto; max-width: 300px; }

.m-btn, .m-btn-lite { 
    padding: 10px 15px; 
    background-color: none; 
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.m-btn-lite {
    background-color: transparent;
    border: 1px solid #666;   
}


/* colors */
.dark { background-color: #2d2d2d; }
.dark-light { background-color: #666; }
.dark-text { color: #2d2d2d; }
.dark-light-text { color: #666; }

.light { background-color: #f2f2f2; }
.light-dark { background-color: #dddddd; }

/* aesthetics */
.m-shadow-3 {
    -webkit-box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
    box-shadow: 0px -25px 65px -12px rgba(0,0,0,0.35);
}
.m-shadow-2 {
    -webkit-box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 65px -12px rgba(0,0,0,0.15);
}
.m-shadow-0 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.page {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh;
}
.small-text {
    margin: 15px 0 25px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
}
.centered-abs {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lite {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}